/* common css start */
*{
   margin:0;
   padding:0;
   outline:0;
   box-sizing:border-box; 
}
body{
   font-family: 'Open Sans', sans-serif;
}
a{
   text-decoration: none;
}
ul{
   list-style-type: none;
}
.container{
   width: 1170px;
   margin:auto;
}
/* common css end */
/* nav section css start */
nav{
   background-color: #02918b;
}
nav .container{
   
   background-color:#02918b ;
   display:flex;
   flex-wrap: wrap;
   align-items: center;
  }
nav .logo{
   width:20%;
}
nav .logo img{
   display: block;

}

nav .menu{
   width:80%;
}
nav .menu ul{
   display:flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}
nav .menu ul li a {
   font-size: 12px;
   font-weight: 800;
   color:#fff;
   text-transform: uppercase;
   padding: 26px 25px;
   display: inline-block;
   transition: .7s;

}
nav .menu ul li:hover a{
   background:#cfc91d;
   color:black;
}
/* nav section css start */
/* banner section css start */
#banner{
   background: url(../image/banner.png);
   height:728px;
   background-size: cover;
   background-position: center;
   position: relative;
   z-index: 1;
}
#banner .container{
   display:flex;
   flex-wrap:wrap;
   align-items: center;
   height: 100%;
}
#banner .banner-content{
   text-align: center;
   color:#fff;
   width:100%;
}
#banner h3{
   font-size: 30px;
   font-weight: 400;

}
#banner h1{
   font-size: 68px;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 30px;
  
}
#banner::after{
   content: "";
   width:100%;
   position: absolute;
   height: 100%;
   background-color:#000;
   top: 0;
   left: 0;
  opacity: 0.66;
  z-index: -1;
 

}
#banner p{
   font-size: 18px;
   font-weight: 400;
}
#banner img{
   display: block;
   margin:50px auto;
}
#banner a{
   font-size: 18px;
   font-weight: 800;
   color:#0b1016;
   text-transform: uppercase;
   background-color:#cfc91d;
   padding:19px 42px;
   display: inline-block;

}




/* banner section css start */
